<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/index.js"></script>
  <title>Twitter</title>
</head>
<body>
  <div class="page-container">
    <div class="left">
      <div class="logo">
        <a href="/">
          <img src="/img/icon.png" alt="Twitter">
        </a>
      </div>
      <nav class="menu">
        <div class="menu-button">Home</div>
        <div class="menu-button">Explore</div>
        <div class="menu-button">Notification</div>
        <div class="menu-button">Messages</div>
        <div class="menu-button">Bookmarks</div>
        <div class="menu-button">Lists</div>
        <div class="menu-button">Profile</div>
        <div class="menu-button">More</div>
      </nav>
    </div>
    <div class="middle">
      <div class="top">
        <h2>Home</h2>
      </div>
      <div class="create-tweet">
        <div class="profile-img-user">
          <img src="/img/profile.png" alt="profile">
        </div>
        <form id="form" class="form">
          <input id="username" type="text" placeholder="Username">
          <textarea id="text" placeholder="What's happening?"></textarea>
          <button type="submit">Tweet</button>
        </form>
      </div>
      <div class="tweet-feed" id="tweets">
        <!-- <div class="tweet-container">
          <div class="profile-img">
            <img src="/img/profile.png" alt="profile">
          </div>
          <div class="tweet">
            <div class="tweet-username">Heon Heo</div>
            <div class="tweet-text">Let's Go!</div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="right">
      <div class="search">
        <input type="text" placeholder="Search Twitter">
      </div>
      <div class="trend">
        What's happening?
      </div>
    </div>
  </div>
</body>
</html>